<!-- -->
<!-- ==================== STOP CLIC DROIT ==================== -->
<!-- -->
<!--  <div class="lecture-prevent"></div> -->
<!-- -->
<!-- ==================== VERIFIE AUTORISATIONS ==================== -->
<!-- -->
<% if current_user && current_user.access.present? %>
  <div style="text-align:center;margin:auto;width:70%;">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe data-dismiss="modal" width="854" height="480" src= "https://www.youtube.com/embed/<%= @lecture.video %>?autoplay=1" frameborder="1" allowfullscreen >
      </iframe>
    </div>
  </div>
<% else %>
<div style="text-align:center;margin:auto;width:70%;background-color: white;">
    <div class="embed-responsive embed-responsive-16by9">
      <div class= "block-margin hidden-xs hidden-sm"></div>
      <h4>Cette vidéo est réservée aux abonnés</h4>
    </div>
  </div>
<% end %>
<!-- -->
<!-- ==================== TITRE ET DESCRIPTION VIDEO ==================== -->
<!-- -->
<div class= "description" style= "background-color: rgba(<%= @lecture.course.color %>, 0.35)">
  <p class= "close">x</p>
  <h4><%= @lecture.title%></h4>
  <%= @lecture.description%>
</div>
