<div class="homeban" >
  <%= image_tag @carousels.last.picture, class: "home-ban"%>
</div>
<!-- <div class="banner" style="background-image: url('<%= @carousels.last.picture %>');">
</div> -->

<div class="container">
  <div class="row">
    <div class="col-sm-8 volet-gauche">
      <h1> Accueil <h1>
    </div>
  </div>
</div>

<!-- http://www.virtualart.pro/images/interface/carousel1.jpg -->
