.puce {
    margin: -17px 15px 0px -15px;
    max-height: 45px;
    float: left;
}

.block {
  padding: 15px 15px 15px 15px;
  margin: 20px 0px 20px 0px;
  box-shadow: -6px 8px 15px 2px rgba(0, 0, 0, 0.5);
  background-color: $color-home;
  border-top: 5px solid $color-line;
  border-bottom: 5px solid $color-line;
  &.height {
  min-height: 340px;
  }
  h4 {
    color: $color-text;
    text-shadow: 0 0 0.2em $color-line, 0 0 0.2em $color-line
  }
  p {
    color: $color-text;
  }
  .full {
    width: 100%;
  }
  .right {
    text-align: right;
    width: 50%;
    margin-left: 50%;
  }
  .left {
    float: left;
    margin: 0px 15px 0px 0px;
  }
  a {
    color: $color-text;
    &:hover {
      color: white;
    }
  }
  &.link:hover {
    background-image: linear-gradient(708deg, rgba(255, 230, 90, 0.1)9%, rgba(0, 0, 0, 0) 55%);
  }
  .profile {
    margin: 0px 0px 12px 0px;
    width: 100%;
  }
}

.block-timeslots {
  text-align: center;
  .timeslot {
      background-color: rgba(255, 255, 255, 0.3);
      color: white;
      margin: auto;
      margin-top: 10px;
      padding: 4px 0px 4px 0px;
      font-size: 15px;
      width: 60%;
  }
}

.inscription {
  width: 100%;
  background-color: $color-background;
  margin: 20px 0px 10px 0px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $color-line;
  font-size: 14px;
  font-style: italic;
  color: $color-line;
  &:hover
  {
    background-color: $color-navbar;
    a
    {
      color: $color-text;
    }
    }
}

.block-margin {
  margin-top: 160px;
  z-index: -1;
}
