.confirmed {
  font-style: italic;
  color: $color-line;
}
.not-confirmed {
  font-style: italic;
  color: $color-light;
}
.ended {
  font-style: italic;
  color: $color-highlight;
}
.bubble {
  background: white;
  position: relative;
  top: 0px;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.bubble2 {
  content: "";
  position: relative;
  left: 65%;
  top: -20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-top: 40px solid white;
  border-right: 15px solid transparent;
}

.forgot {
  text-align: right;
  margin-top: -22px;
}

label {
  color: $color-text;
}

.puce {
    margin: -17px 15px 0px -15px;
    max-height: 45px;
    float: left;
}

.block {
  padding: 15px 15px 15px 15px;
  margin: 20px 0px 20px 0px;
  box-shadow: -6px 8px 15px 2px rgba(0, 0, 0, 0.5);
  background-color: $color-home;
  border-top: 5px solid $color-line;
  border-bottom: 5px solid $color-line;
  color: $color-text;
  &.height {
  min-height: 340px;
  }
  h4 {
    color: $color-text;
    text-shadow: 0 0 0.2em $color-line, 0 0 0.2em $color-line
  }
  p {
    color: $color-text;
  }
  .full {
    width: 100%;
  }
  .right {
    text-align: right;
    width: 50%;
    margin-left: 50%;
  }
  .left {
    float: left;
    margin: 0px 15px 0px 0px;
  }
  .center {
    text-align: right;
    width: 70%;
    max-width: 600px;
    margin-left: 15%;
    margin-right: 15%;
  }
  a {
    color: $color-text;
    &:hover {
      color: white;
    }
  }
  &.link:hover {
    background-image: linear-gradient(708deg, rgba(255, 230, 90, 0.1)9%, rgba(0, 0, 0, 0) 55%);
  }
  .link {
    color: $color-text;
  }
  .profile {
    margin: 0px 0px 12px 0px;
    width: 100%;
  }
}

.block-timeslots {
  text-align: center;
  .timeslot {
      background-color: rgba(255, 255, 255, 0.3);
      color: white;
      margin: auto;
      margin-top: 10px;
      padding: 4px 0px 4px 0px;
      font-size: 15px;
      width: 60%;
  }
}

.inscription {
  width: 100%;
  background-color: $color-background;
  margin: 20px 0px 10px 0px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $color-line;
  font-size: 14px;
  font-style: italic;
  color: $color-line;
  &:hover
  {
    background-color: $color-navbar;
    cursor: pointer;
    a
    {
      color: $color-text;
    }
    }
}

input.btn.btn-default {
    width: 100%;
  background-color: $color-background;
  margin: 20px 0px 10px 0px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $color-line;
  font-size: 14px;
  font-style: italic;
  color: $color-line;
  &:hover
  {
    background-color: $color-navbar;
    a
    {
      color: $color-text;
    }
    }
}


.block-margin {
  margin-top: 160px;
  z-index: -1;
}
